html, body {
    margin: 0;
    padding: 0;
    background: #f2cccc;
    color: #a55555;
    font-size: 18px;
}

body {
    margin: 80px 0;
}

.heading:after {
    content: "";
    display: block;
    clear: both;
}

h1.title {
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
    display: block;
    float: left;

    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;

    font-family: Georgia, serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.secret {
    font-size: 7px;
}

hr {
    height: 1px;
    border: none;
    background-color: white;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.game-container {
    display: none;
    margin-top: 50px;
    background-color: #d1837b;
    border-radius: 5px;
    padding: 15%;
}

.winner {
    display: none;
    margin-top: 50px;
    background-color: #d1837b;
    border-radius: 5px;
    padding: 20%;
}
.winner p {
    margin: 0 auto;
    color: white;
    text-align: center;
}

.game-container p {
    color: white;
}

.opp-card-stack, .player-card-stack {
    color: #a55555;
    text-align: center;
    font-size: 25px;
}

.opp-card-stack p, .player-card-stack p {
    display: inline-block;
}

.opp-card-stack::before {
    content: "Opponent's card: ";
}
.player-card-stack::before {
    content: "Player's card: ";
}

.action-button {
    border: none;
    border-radius: 2px;
    background-color: #a55555;
    padding: 16px 32px;
    font-family: Georgia, serif;
    font-size: 14px;
    color: #f2cccc;
    margin: 20px auto;
}